@model List<StatusReport>
@{
    ViewBag.Title = $"{ViewBag.Action}";
    Layout = "_Layout";
}



<h2>@ViewBag.Date</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>PPM</th>
            <th>EC</th>
            <th>PH</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.StatusReportId</td>
                <td>@report.Time</td>
                <td>@report.Temperature</td>
                <td>@report.Humidity</td>
                <td>@report.PartsPerMillion</td>
                <td>@report.ElectricalConductivity</td>
                <td>@report.PH</td>
                <td><a asp-controller="DailyLog" asp-action="Edit" asp-route-id="@report.StatusReportId" class="btn btn-secondary">Edit</a></td>
                <td><a asp-controller="DailyLog" asp-action="Delete" asp-route-id="@report.StatusReportId" class="btn btn-secondary">Delete</a></td>
            </tr>
        }
    </tbody>
</table>